@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    font-family: 'Poppins', sans-serif;
}


.cpro-bg {
    background-image: url("/cpro-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }